In [28]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score,r2_score

In [15]:
df = pd.read_csv('location.csv')
df.drop(columns = ['sample'],inplace = True)
df

           t1        t2        t3         d
0    0.032848  0.027610  0.028147  4.629447
1    0.030836  0.028304  0.028975  4.811584
2    0.024797  0.019159  0.021059  3.253974
3    0.032877  0.028515  0.028587  4.826752
4    0.025130  0.025354  0.025897  4.264718
..        ...       ...       ...       ...
295  0.020693  0.019657  0.020917  3.335854
296  0.029708  0.029684  0.029622  4.957361
297  0.028758  0.026226  0.026991  4.425389
298  0.023590  0.023670  0.024459  4.000943
299  0.028572  0.023256  0.025820  3.942177

[300 rows x 4 columns]

In [16]:
X = df.iloc[:,:-1].values
Y = df['d'].values.reshape(-1,1)
train_x,test_x = X[:200],X[200:]
train_y,test_y = Y[:200],Y[200:]

In [23]:
model = LinearRegression()
model.fit(train_x,train_y)

LinearRegression()

In [33]:
predictions = model.predict(test_x)
r2_1 = model.score(test_x,test_y)
r2_2 = r2_score(predictions,test_y)
print(f'R2 Score from the model.score function: {r2_1} \nR2 Score from the r2_score function from metrics: {r2_2}')

R2 Score from the model.score function: 0.9973989492383779
R2 Score from the r2_score function from metrics: 0.9973599297567092